@import "tailwindcss";

:root {
  color-scheme: dark;
  --background: #282522;
  --foreground: #f0ece4;
  --sidebar: #302d2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);
  --font-ed-garamond: var(--font-eb-garamond);
  --font-jost: var(--font-jost);
}


body {
  background: var(--background);
  color: var(--foreground);
}
